@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@media only screen and (min-width: 900px) {
  body {
    width: 100% !important;
    min-height: 100vh !important;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace !important;
    background-color: #000026 !important;
    color: #94f7b2 !important;
    text-align: center;
    cursor: url("images/cursor.png"), auto;
  }
  
  button {
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    background-color: #94f7b2 !important;
    color: #005a5c !important;
    padding: 1.66vh 1.66vw;
    font-size: 2.25vh !important;
    border-color: #005a5c !important;
    border-width: 3px !important;
  }

  button:hover {
    cursor: url("images/cursor-click.png"), auto;
    border-color: #FFFFFF !important;
    border-width: 3px;
  }

  a {
    padding-top: 1vh !important;
    color: #FFFFFF !important;
  }

  a:hover {
    cursor: url("images/cursor-click.png"), auto;
  }

  .button-text {
    font-family: 'Press Start 2P';
    background-color: #005a5c;
    font-size: 2vh !important;
    border: 2px solid #94f7b2 !important;
  }

  .intro {
    font-family: 'Press Start 2P';
    font-size: 4.5vh !important; 
    background-color: #005a5c;
    border: 2px solid #94f7b2 !important;
  }

  .container {
    width: 100vw;
    height: max-content;
    align-items: center;
    justify-content: center !important;
  }

  .rowmain {
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 30vw;
  }

  .header {
    font-size: 3.5vh;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    height: 8.5vh !important;
  }

  .title {
    font-size: 5vh;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    color: #FFFFFF !important;
    padding: 1vh !important;
    height: 7vh !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .logo {
    height: 5vh;
  }

  .colproject {
    background-color: #005a5c;
    width: min-content;
    padding: 2vh 2vw; 
    border: 2px solid #94f7b2 !important;
    height: 65vh;
  }

  .iframe {
    width: 20vw !important;
    cursor: url("images/cursor-click.png"), auto;
  }

  .projimage {
    width: 20vw !important;
  }

  .projintro {
    font-size: 2vh;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace; 
    height: 8.5vh !important;
    color: #FFFFFF;
  }

  .projtext {
    font-size: 1.5vh;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    height: 4vh !important;
  }

  .projbutton {
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    background-color: #94f7b2 !important;
    color: #005a5c !important;
    padding: 1.66vh 1.66vw;
    font-size: 2.25vh !important;
  }

  #buttonmoreproj {
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    background-color: #94f7b2 !important;
    color: #005a5c !important;
    padding: 1.66vh 1.66vw;
    font-size: 2.25vh !important;
    width: 22vw !important;
  }

  #buttoncreative {
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    background-color: #94f7b2 !important;
    color: #005a5c !important;
    padding: 1.66vh 1.66vw;
    font-size: 2.25vh !important;
    width: 22vw !important;
  }

  .rowproj {
    width: 100% !important;
    display: flex;
    max-height: 70vh !important;
    justify-content: center !important;
    padding: 1vh;
  }

  .rowtitle {
    width: 100% !important;
    display: flex;
    max-height: 70vh !important;
    justify-content: center !important;
    padding: 1vh;
  }
}

@media only screen and (max-width: 899px) {
  body {
    max-width: 100vw !important;
    min-height: 100vh !important;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace !important;
    background-color: #000026 !important;
    color: #94f7b2 !important;
    text-align: center;
    cursor: url("images/cursor.png"), auto;
  }
  
  button {
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    background-color: #94f7b2 !important;
    color: #005a5c !important;
    padding: 1.66vh 1.66vw;
    font-size: 2vh !important;
    border-color: #005a5c !important;
    border-width: 3px !important;
  }

  button:hover {
    cursor: url("images/cursor-click.png"), auto;
    border-color: #FFFFFF !important;
    border-width: 3px;
  }

  a {
    padding-top: 1vh !important;
    color: #FFFFFF !important;
  }

  a:hover {
    cursor: url("images/cursor-click.png"), auto;
  }

  .button-text {
    font-family: 'Press Start 2P';
    background-color: #005a5c;
    font-size: 2vh !important;
    border: 2px solid #94f7b2 !important;
  }

  .intro {
    font-family: 'Press Start 2P';
    font-size: 3vh !important; 
    background-color: #005a5c;
    border: 2px solid #94f7b2 !important;
  }

  .container {
    max-width: 100vw !important;
    height: max-content;
    align-items: center;
    justify-content: center !important;
  }

  .rowmain {
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 70vw !important;
  }

  .header {
    font-size: 3vh;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    height: 8vh !important;
  }

  .title {
    font-size: 4vh;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    color: #FFFFFF !important;
    padding: 1vh !important;
    height: 10vh !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .logo {
    height: 5vh;
  }

  .colproject {
    background-color: #005a5c;
    width: 100% !important;
    padding: 2vh 2vw; 
    border: 2px solid #94f7b2 !important;
    height: 65vh;
  }

  .iframe {
    width: 20vw !important;
    cursor: url("images/cursor-click.png"), auto;
  }

  .projimage {
    width: 60% !important;
  }

  .projintro {
    font-size: 2vh;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace; 
    height: 8.5vh !important;
    color: #FFFFFF;
  }

  .projtext {
    font-size: 1.5vh;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    height: 4vh !important;
  }

  .projbutton {
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    background-color: #94f7b2 !important;
    color: #005a5c !important;
    padding: 1.66vh 1.66vw;
    font-size: 2.25vh !important;
  }

  #buttonmoreproj {
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    background-color: #94f7b2 !important;
    color: #005a5c !important;
    padding: 1.66vh 1.66vw;
    font-size: 2vh !important;
    width: 70vw !important;
  }

  #buttoncreative {
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    background-color: #94f7b2 !important;
    color: #005a5c !important;
    padding: 1.66vh 1.66vw;
    font-size: 2vh !important;
    width: 70vw !important;
  }

  .rowproj {
    width: 90vw !important;
    display: flex;
    flex-wrap: wrap !important;
    min-width: fit-content !important;
    justify-content: center !important;
    padding: 1vh;
  }

  .rowtitle {
    max-width: 98vw !important;
    height: fit-content !important;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center !important;
    padding: 1vh;
  }
}