@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@media only screen and (min-width: 900px) {
  body {
    min-width: 100vw !important;
    min-height: 100vh !important;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace !important;
    background-color: #000026 !important;
    color: #94f7b2 !important;
    text-align: center;
    cursor: url("images/cursor.png"), auto;
  }

  .header {
    font-size: 3.5vh;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace !important;
  }

  .container {
    padding-top: 25vh;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }

  .row {
    padding: 2vh;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace !important;
    width: fit-content;
    max-width: 33vw !important;
    height: fit-content;
    background-color: #005a5c;
    border: 2px solid #94f7b2 !important;
  }

  a {
    color: #FFFFFF !important;
  }

  a:hover {
    cursor: url("images/cursor-click.png"), auto;
  }

  .logo {
    height: 5vh;
  }
}